logs/*.log
target/
.cache
data
.settings/org.scala-ide.sdt.core.prefs
.idea
.metadata
.idea_modules
.classpath
.project
.cache
*.iml
.DS_Store
*.db
caches
.caches
fabfile.pyc
target
.fseventsd
clkey.pem
analysis_server/.settings
analysis_server/.target
analysis_server/bin
analysis_server/logs
.lib
